* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {   
    background-color: hsla(0, 0%, 90%, 0.622);
}

.landing {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./Resources/tent_revival.jpg');
    min-height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
}   

#name{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    font-size: 4rem;
    font-family:'Great Vibes', cursive;
    color: white;
    font-weight: normal;
}

#vision{
    position: absolute;
    left: 50%;
    top: 55%;
    font-size: 2rem;
    font-family:'Great Vibes', cursive;
    color: white;
}

.links {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 1rem;
    right: 3rem;
    color: white;
}

.links li {
    margin-left: 1rem;
    text-decoration: underline;
}

.links a {
    color: white;
}

.letter_container {
    display: flex;
    position: absolute;
    top: 100vh;
    height: 100vh;
}
.sower {
    position: relative;
    left: 27.5vw;
    height: 100vh;
    width: 45vw;
    background-image: url('./Resources/Sower_resized.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: .2;
}

.newsLetter {
    position: relative;
    right: 15vw;
    width: 43vw;
    padding: 2vw;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

#greeting {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    
}

.letter {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#phrase {
    margin-left: 50%;
    transform: translate(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#signature {
    margin-left: 50%;
    transform: translate(-50%);
    font-family: 'Segoe Script', cursive;
}

#poem{
    position: absolute;
    top: 100vh;
    right: 1rem;
    width: 25%;
}

