* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./Resources/tent_revival.png');
    min-height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}   

#name{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    font-size: 4rem;
    font-family:'Great Vibes', cursive;
    color: white;
    font-weight: normal;
}

#vision{
    position: absolute;
    left: 50%;
    top: 55%;
    font-size: 2rem;
    font-family:'Great Vibes', cursive;
    color: white;
}

.links {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 1rem;
    right: 3rem;
    color: white;
}

.links li {
    margin-left: 1rem;
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.links a {
    color: white;
}


.letter_container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 50, 50);
    color: white;
}

@media only screen and (max-width: 767px) {
    .letter_container{
        flex-direction:column;
    }
}

#poem{
    width: 20%;
    color: black;
    border-style: groove;
    border-width: .15rem;
    background-color: rgb(168, 185, 193);
    max-height: 80vh;
    margin-top: 5vh;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    #poem {
        width: 100%;
        height: fit-content;
        margin-top: 0;
    }
}
#poem:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

#poem_title {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    padding: 1rem 1rem 0 1rem;
    font-weight: normal;
}

#poem_signature {
    text-align: end;
    font-size: 1rem;
    padding-right: 1rem;
    font-style: italic;
}

#poem_body {
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.2rem;
    padding: 1em;
    line-height: 1.2;
}

#newsLetter {
    width: 45%;
    height: 100vh;
    background-image: url(./Resources/sower_transparent.png);
    background-position: center;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    #newsLetter {
        width: 100%;
        height: fit-content;
        background: rgb(50, 50, 50);
    }
}

#newsLetter:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

#letter_title {
    font-family: 'Great Vibes', cursive;
    font-size: 2.75rem;
    text-align: center;
    margin: 1em;
    font-weight: normal;
}

.letter {
    font-family: 'Delius Swash Caps', cursive;
    font-size: 1.5rem;
    padding-inline: 1em;
}

#phrase {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: center;
    padding-block: 1em;
}

#signature {
    font-family: 'Segoe Script', cursive;
    text-align: end;
    padding-bottom: 2em;
}

#schedule{
    width: 20%;
    max-height: 80vh;
    margin-top: 5vh;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    #schedule {
        width: 100%;
        height: fit-content;
        background-color:rgb(168, 185, 193);
        color: black;
    }
}

#schedule:hover {
    overflow-y: auto;
    overflow-x: hidden
}

#schedule_head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-block: 1em;
    font-weight: normal;
}

.appointments {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
}


#return_link{
    display: block;
}