* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url('./Resources/sermons.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    position: absolute;
    top: 1rem;
    left: 5rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2.5rem;
}
a{
    color: white;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.sermonList li{
    list-style-type: none;
    padding-bottom: .5rem;
}

.links {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 1rem;
    right: 3rem;
    color: white;
}

.links li {
    margin-left: 1rem;
    text-decoration: underline;
    font-size: 1.2rem;
}

.links a {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}